
.resimslide{
    height: 700px;
}
body{
    font-family: "Jaro", sans-serif;
}
.hakkimda{
    background-color: #f2f2f2;
}
.çizgi{
    
    border: none;
    border-top: 3px solid black;
    
    margin: 25px;
    


}