
     body{
     }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        .movie {
            border: 2px solid #155eb7;
            
            margin: 13px;
            padding: 13px;
            width: 200px;
            text-align: center;
            font-size: 1rem;
        }
        .movie img {
            width: 100%;
            height: auto;
        }
    